
<div class="wrapper">
    <div class="header">
        <div class="title"> <p  class="title-text"> NewsAggregator</p> </div>
        <div class="search-panel">
            <input
            class="phone-input"
            placeholder="Поиск"
          />
        </div>
        <div class="user-profile" *ngIf="api.isAuth === false ;else profile"> <a class="login" routerLink="../login">Войти</a></div>
        <ng-template #profile>
            <div class="user-profile">
                <a class="login" routerLink="../login">test@mail.ru </a>
        </div>
        </ng-template>
    </div>
    <nav class="navbar">
        <ul>
            <li routerLinkActive ="active"> <a routerLink="main">Главная</a></li>
            <li routerLinkActive ="active"> <a routerLink="world">В мире</a></li>
            <li routerLinkActive ="active"><a routerLink="technology">Технологии</a></li>
            <li routerLinkActive ="active"><a routerLink="sports">Спорт</a></li>
            <li routerLinkActive ="active"><a routerLink="science">Наука</a></li>
            <li routerLinkActive ="active"><a routerLink="politics">Политика</a></li>
            <li routerLinkActive ="active"><a routerLink="health">Здоровье</a></li>
            <li routerLinkActive ="active"><a routerLink="business">Бизнес</a></li>
            <li routerLinkActive ="active"><a routerLink="entertainment">Развлечения</a></li>
            <li routerLinkActive ="active"><a routerLink="food">Еда</a></li>
        </ul>
    </nav>
</div>
<div class="container">
      <router-outlet></router-outlet>
  </div>
  